PORT=3001
PRODUCT_DATABASE_URL=postgresql://postgres.mavvvesnkbxdijdqlswo:@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
JWT_SECRET=change-me
EVOLUTION_API_BASE=http://194.164.77.139:8080
EVOLUTION_API_KEY=evolution_secure_key_2026_xyz